* {
    font-family: Verdana, sans-serif;
}

a {
    text-decoration: none;
}

img {
    width: 500px;
    height: auto;
}

.recipe {
    background-color: rgb(186, 144, 180)
}

.title {
    background-color: rgb(51, 153, 111);
    margin: 8px;
    padding: 8px;
    text-align: center;
}

.list {
    background-color: greenyellow;
    padding: 8px;
    margin: 8px;
}